<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/images/japa.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <title>Japa.RUN</title>
</head>
<body style="font-family: 'Roboto', sans-serif;" class=" font-normal relative">
    
    <!-- MAIN HEADER -->
      <nav class="bg-white shadow-lg text-gray-900 shadow-lg animate__animated animate__fadeInDown">
        <!-- Mobile menu -->
        <div class="flex justify-between w-11/12 m-auto py-5">
            <div class="flex px-2 pt-2">
                <a class="lg:mr-5" href="/home">
                    <img class="h-10 object-fill w-44 p-2 mt-2" src="/public/images/japa.png" alt="">
                </a>
            </div>
            <div class="mt-2 py-3 h-16 flex space-x-8">
                <a class="lg:block hidden px-3 py-2  border-b border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/about">About</a>
                <a class="lg:block hidden px-3 py-2  border-b border-gray-100 text-yellow-500 border-yellow-500 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/chats">Chat Groups</a>
                <a class="lg:block hidden px-3 py-2  border-b border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/resources">Resource center</a> 
                <a class="lg:block hidden px-3 py-2  border-b border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/news">News Feed</a>
                <a class="lg:block hidden px-3 py-2  border-b  border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/faqs"> FAQs</a>
                <a class="lg:block hidden px-3 py-2  border-b border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/contact">Contact Us</a>
                <%if(email==null){%>
                    <a class="lg:block hidden px-3 py-2  border-b border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/register">Sign Up</a>  
                <%}else{%>
                    <a class="lg:block hidden px-3 py-2  border-b border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/login">Logout </a>  
                <%}%>
                
                <!-- <a id="profilebtn" class="bg-gray-300 rounded-3xl shadow-lg  block" href="#"><img id="profileimg" class="h-9 w-9 object-cover object-top rounded-3xl" src="/public/images/d1.jpeg" alt=""></a> -->
                <a id="profilebtn" class="text-yellow-500 block lg:hidden mt-3" href="#">
                    <svg id="profileimg" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path id="profileimg" stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </a>
            </div>
        </div>
    </nav>
    <!-- PROFILE DROPDOWN -->
    <div class="relative">
        <div id="menulist" class="absolute z-10 hidden block space-y-1 right-0 border w-56 bg-white  mx-1 my-1 rounded-lg animate__animated animate__pulse" style="display: none;">
        <p class="border-b w-full rounded-t-lg hover:bg-yellow-500 hover:text-white"><a class="px-2 pr-6 py-2 block" href="/about"> About</a></p>
        <p class="border-b w-full hover:bg-yellow-500 hover:text-white"><a class="px-2 pr-6 py-2 block" href="/chats"> Chat Groups</a></p>
        <p class="border-b w-full hover:bg-yellow-500 hover:text-white"><a class="px-2 pr-6 py-2 block" href="/resources"> Resource Center</a></p>
        <p class="border-b w-full hover:bg-yellow-500 hover:text-white"><a class="px-2 pr-6 py-2 block" href="/news"> News Feed</a></p>
        <p class="border-b w-full rounded-b-lg hover:bg-yellow-500 hover:text-white"><a class="px-2 pr-6 py-2 block" href="/faqs"> FAQs</a></p>
        <p class="border-b w-full hover:bg-yellow-500 hover:text-white"><a class="px-2 pr-6 py-2 block" href="/contact"> Contact Us</a></p>
       <%if(email==null){%>
            <p class="border-b w-full hover:bg-yellow-500 hover:text-white"><a class="px-2 pr-6 py-2 block" href="/register"> Sign up</a></p>
        <%}else{%>
            <p class="border-b w-full hover:bg-yellow-500 hover:text-white"><a class="px-2 pr-6 py-2 block" href="/login">Logout</a></p>
        <%}%>
        </div>
    </div>



    <main class="mx-1">

        <div class="lg:w-5/6 m-auto mt-10  py-3 h-16 flex space-x-8">
            <a class="lg:block  px-3 py-2  border-b border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/chats">Chat Groups</a>
            <%if(email!==null){%>
            <a class="lg:block  px-3 py-2  border-b border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/my_groups">My Groups</a>
            <a class="lg:block  px-3 py-2  border-b border-gray-100 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/create_group">Create Group</a>
            <a class="lg:block  px-3 py-2  border-b border-gray-100 text-yellow-500 border-yellow-500 hover:border-yellow-500 hover:text-yellow-500 transition duration-300 text-sm" href="/profile">My Profile</a>
            <%}%>
        </div>

        <div class="mb-10 lg:w-5/6 m-auto  animate__animated animate__pulse">
            <p class="text-[50px] font-bold text-center">Profile Page</p>
           <div class="grid grid-cols-2 gap-2">
             <!-- update profile image -->
             <form action="/update_profile" enctype="multipart/form-data" method="post" class="space-y-1 font-bold pt-10">
                <p class="text-base font-normal">Username - <span class="font-bold uppercase"><%=user.username%></span></p>
                <p class="pb-2 text-base font-normal">Email - <span class="font-bold"><%=user.email%></span></p>
                <div class="my-2">
                    <img id="preview_image" class="rounded-t-lg object-cover  h-44 w-34"  src="/public/images/placeholder.png" alt="">
                </div>
                <div class="my-1">
                    <p class="text-base">Update profile image <span class="text-red-500">*</span></p>
                    <label class="block mt-2 font-normal">
                        <span class="sr-only">Choose profile photo</span>
                        <input id="upload" accept="image/*" type="file" name="upload" class="text-sm text-slate-500
                            file:mr-4 file:py-2 file:px-4
                            file:rounded-full file:border
                            file:text-sm file:font-semibold
                            file:bg-blue-50 file:border-blue-900
                            file:text-blue-900
                            hover:file:bg-blue-100
                            text-blue-900
                        " required/>
                        </label> 
                </div>

                <div class="grid grid-cols-1 space-y-2 py-5">
                    <a href="/toggle-group-notifications">
                        <label class="relative inline-flex items-center cursor-pointer">
                                <input type="checkbox"  name="email" value="" <%= user.groupNotificationStatus === 'ON' ? 'checked': '' %> class="sr-only peer">
                            <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            <span class="ml-3 text-sm font-medium text-gray-900">Email notification - Group Chats</span>
                        </label>
                    </a>

                        <label class="relative inline-flex items-center cursor-pointer">
                                <input type="checkbox" value="" name="subscribe" <%= user.emailNotificationStatus === 'ON' ? 'checked': '' %> class="sr-only peer">
                            <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            <span class="ml-3 text-sm font-medium text-gray-900">Subscription Notification</span>
                        </label>
                </div>

                <div class="mt-4">
                    <button type="submit" class="bg-yellow-500 hover:bg-yellow-400 p-1 px-4  rounded-md font-normal text-base">Update</button>
                </div>
            </form>

            <!-- update password -->
            <form action="/update_password" method="post" class="inline-block border-l p-2 border-yellow-500 space-y-1 font-bold pt-10" >
                <p class="text-lg">Password Reset</p>
                <div>
                    <input class="w-full border border-slate-300 flex-1 rounded-md py-2 pl-3 mt-2  shadow-sm focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 focus:ring-1 text-sm" type="password" name="new_password" placeholder="New Password" required>
                    <input class="w-full border border-slate-300 flex-1 rounded-md py-2 pl-3 mt-2  shadow-sm focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 focus:ring-1 text-sm" type="password" name="repeat_password" placeholder="Repeat Password" required>
                
                </div>
                <div class="mt-4">
                    <button type="submit" class="bg-yellow-500 hover:bg-yellow-400 p-1 px-4  rounded-md font-normal text-base">Change Password</button>
                </div>
            </form>
           </div>
        </div>
    </main>




     <!-- Newsletter -->
    <div class="text-center py-14 bg-black text-white">
        <p class="text-[44px] font-bold">Connect with us today</p>
        <p class="text-base">Enter your email address to subscribe to our newsletter delivered on regular basis.</p>
        <div>
            <form action="/subscriber" method="post" class="flex justify-between mx-5 h-14 mt-6 lg:rounded-xl rounded-3xl shadow-lg bg-white md:px-0 border-2 hover:border-yellow-500 duration-200  py-0 sm:inline-block">
                <input type="text" name="email" placeholder="Email address" class="focus:outline-none bg-white mt-1 ml-2 mx-1 mb-2 text-black text-sm py-3 pl-4 w-64 font-normal" required>
                <button type="submit" class="bg-yellow-500 focus:outline-none text-gray-900 hover:text-white p-2 px-3 m-1 lg:rounded-lg rounded-2xl  ">
                       <span class="hidden lg:inline">Sign up today</span>
                       <svg xmlns="http://www.w3.org/2000/svg" class="lg:hidden h-4 w-4 my-0 " viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                      </svg>
                </button>
            </form>

        </div>
    </div>

    <footer class="border py-8">
        <div class="w-11/12 m-auto">
            <div class="grid lg:grid-cols-2 gap-7">
                <div class="col-span-1">
                    <div class="space-y-1">
                        <p class="text-3xl font-bold">CONNECT HERE</p>
                        <p>Looking to engage with JAPA.<span class="text-gray-400"><span class="text-gray-400">RUN</span></span>. Connect with us on social media! You will find relevant content, important JAPA.<span class="text-gray-400">RUN</span> updates, networking opportunities and more.</p>
                        <p>Be sure to send us a message or tag us in JAPA.<span class="text-gray-400">RUN</span>-related posts so we can reply or repost.</p>
                    </div>
                    <div class="border-b border-white pb-2 lg:flex lg:flex-wrap lg:justify-between">
                        <div class="font-normal space-x-2 pt-2 lg:text-center">
                            <span class=" hover:text-yellow-500 text-gray-500 duration-200 "> <a href="https://www.facebook.com/profile.php?id=100081954385314" target="_blank"><i class="fa fa-facebook text-2xl" aria-hidden="true"></i></a></span>
                            <span class=" hover:text-yellow-500 text-gray-500 duration-200 "> <a href="https://www.instagram.com/invites/contact/?i=1pzu6flwp9076&amp;utm_content=oq59psb" target="_blank"><i class="fa fa-instagram text-2xl" aria-hidden="true"></i></a></span>
                            <span class=" hover:text-yellow-500 text-gray-500 duration-200 "> <a href="https://twitter.com/Doomur_app?t=DjRIPLRAUDqVKv0XMANwwA&amp;s=09" target="_blank"><i class="fa fa-twitter text-2xl" aria-hidden="true"></i></a></span>
                            <span class=" hover:text-yellow-500 text-gray-500 duration-200 "><i class="fa fa-youtube text-2xl" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 pl-5 hidden lg:block">
                    <a href="/">
                        <img class="h-12 object-fill w-46 p-2 mt-2" src="/public/images/japa.png" alt="">
                    </a>
                   <ul style="list-style-type:disc" class="space-y-1 ml-5">
                        <li><a href="/about" class="hover:border-b hover:border-yellow-500 hover:font-bold hover:text-lg duration-100">About</a></li>
                        <li><a href="/contact" class="hover:border-b hover:border-yellow-500 hover:font-bold hover:text-lg duration-100">Contact us</a></li>
                        <li><a href="/chats" class="hover:border-b hover:border-yellow-500 hover:font-bold hover:text-lg duration-100">Chat Groups</a></li>
                        <li><a href="/resources" class="hover:border-b hover:border-yellow-500 hover:font-bold hover:text-lg duration-100">Resource Center</a></li>
                        <li><a href="faqs" class="hover:border-b hover:border-yellow-500 hover:font-bold hover:text-lg duration-100">FAQs</a></li>
                        <li><a href="#" class="hover:border-b hover:border-yellow-500 hover:font-bold hover:text-lg duration-100">Privacy Policy</a></li>
                        <li><a href="#" class="hover:border-b hover:border-yellow-500 hover:font-bold hover:text-lg duration-100">Terms of Use</a></li>
                        <li><a href="#" class="hover:border-b hover:border-yellow-500 hover:font-bold hover:text-lg duration-100">Community Guidelines</a></li>
                    </ul>
                </div>
            </div>
            <div class="mt-10">
                <p class="text-gray-900 text-center mt-6 p-2 duration-100">Copyright © 2023 Japa.<span class="text-gray-400">RUN</span> - Join the conversation...</p>
            </div>
        </div>
    </footer>
    <script src="/public/js/index.min.js"></script>
    <script>
        let profilebtn = document.querySelector('#profilebtn');
        let menulist = document.querySelector('#menulist')

        menulist.style.display = 'none'
        profilebtn.addEventListener('click', ()=>{
            // console.log('profilebtn')
            if(menulist.style.display === 'none'){
                menulist.style.display = 'inline'
                // console.log('show')
            }else{
                menulist.style.display = 'none'
                // console.log('hide')
            }
        })
        
        // CLOSES MENULIST WHEN YOU CLICK ANYWHERE OUTSIDE
        window.onclick = (e)=>{
            // console.log('id',e.target.id,e.target)
            if(e.target.id !== 'profileimg'){
                menulist.style.display = 'none'
            }
        }


        // Live preview of uploaded images
        let upload = document.getElementById('upload');
        let preview_image = document.getElementById('preview_image');
        upload.onchange = evt => {
        const [file] = upload.files
            console.log('upload change')
            if (file) {
                preview_image.src = URL.createObjectURL(file)
            }
        }
    </script>

    <script>
        let toggleEmail = document.getElementById('email');
        let toggleGroup = document.getElementById('group');

        toggleEmail.addEventListener('click', () => {
            window.location = '/toggle-email-notifications';
        })

        toggleGroup.addEventListener('click', () => {
            window.location = '/toggle-group-notifications';
        })
    </script>

</body>
</html>